DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="your_db_name"
DB_USER="postgres"
DB_PASS="your_password"

WEBSITE_URL="enter arbeitnow_website_api"
PAGES_TO_RUN=#the number of pages you need to fetch data from
STORAGE_PATH=storage/path/for json files

RUN_DATE=

RUN_START_DATE=
RUN_END_DATE=

LOG_DIR=Your/Log/Directory/Path